<div class="img-wrapper">
    <img class="img-response" [src]="ads_side.photo" title="Silver Sea Media" alt="Silver Sea Media" *ngIf="ads_side.photo" />
    <img class="img-response" [src]="ads_block_start.photo" title="Silver Sea Media" alt="Silver Sea Media" *ngIf="ads_block_start.photo" />
    <img class="img-response" [src]="ads_block_middle.photo" title="Silver Sea Media" alt="Silver Sea Media" *ngIf="ads_block_middle.photo" />
    <img class="img-response" [src]="ads_block_end.photo" title="Silver Sea Media" alt="Silver Sea Media" *ngIf="ads_block_end.photo" />
</div>