.context {
    margin-top: 20px;
}

.card {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.5s;
    border-left: 5px solid #10652f;
}

.card:hover {
    opacity: 0.5;
}

.card > h3 {
    font-size: small;
    font-weight: bold;
}