<section class="container-fluid">
    <div class="row">
        <app-navigation></app-navigation>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
    
    <div class="row context">
        <div class="col-md-9">
            <app-ads *ngIf="!isLoading"></app-ads>

            <div class="row mt-20" *ngIf="!isLoading">
                <div class="col-md-4" *ngFor="let category of categoriesLists" (click)="navigate(category)">
                    <div class="card">
                        <h3> {{ category.name }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <section class="col-md-3">
            <div class="row">
                <app-ads-side *ngIf="!isLoading"></app-ads-side>
            </div>
        </section>
    </div>
</section>

